
# Note we depend on NODE_ENV being set to dictate which of the env variables below get loaded at runtime. 
# See README for more details.

DATABASE_NAME=passcontrol
DATABASE_HOST=localhost
DATABASE_USER=root
DATABASE_PASSWORD=clave123