
# Note we depend on NODE_ENV being set to dictate which of the env variables below get loaded at runtime. 
# See README for more details.

DATABASE_NAME=passcontrol
DATABASE_HOST=localhost
DATABASE_USER=root
DATABASE_PASSWORD=clave123
IMAGE_FILES_FOLDER=/folder_name/

EXPRESS_SERVICE_ENABLED=true
FILE_OPTIMIZATION_SERVICE_ENABLED=false
SOCKET_SERVICE_ENABLED=false