
# Note we depend on NODE_ENV being set to dictate which of the env variables below get loaded at runtime. 
# See README for more details.

DEV_MODE=true
DATABASE_NAME=passcontrol
DATABASE_HOST=localhost
DATABASE_USER=root
DATABASE_PASSWORD=clave123
FILES_FOLDER=/Users/admin/Documents/Projects/PassControl/Development/passcontrol.restapi_app/dist/public/media/

EXPRESS_SERVICE_ENABLED=true
FILE_OPTIMIZATION_SERVICE_ENABLED=false
SOCKET_SERVICE_ENABLED=false